body {
    background-color: lightblue;
}

header.fixed {
	position: fixed;
	color: CadetBlue;
	border: 1px solid black;
    /*margin: 25px 50px 75px 100px;*/
    /*width: 80%;*/
    bottom: 0;
    right: 0;
    width: 300px;

}

footer.fixed {
	position: fixed;
	color: CadetBlue;
	border: 1px solid black;
    /*margin: 25px 50px 75px 100px;*/
    width: 80%;
}


h1 {
    color: navy;
    margin-left: 20px;
}

