/* Nathan Dullea */


body {
    background: linear-gradient(to right, #19DAF6, #D9E6B7);
    /* hsla */
}

div {
	color: grey;
    margin: 20px;
    color: grey;
	border-style: solid;
	background-color: #333;
}


h1 {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
	border-style: solid;
	text-align: center;
	background-color: #333;
}

h2 {
	color: grey;
    margin-left: 20px;
}

p {
	margin: 20px;
	text-align: center;
	border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-style: solid;
    border-color: grey;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}




