/* Nathan Dullea */
html {
    background-color: #13CBE6;
}

body {
    background: #13CBE6;
}

div {
    margin: 20px;
	align-items: center;
}

#mainMenu {
	margin: 100px;
    text-align:center;
}

#menu {
	margin: 25px;
    text-align:center;
}


h1 {
    margin-left: 20px;
    margin-right: 20px;
	text-align: center;
}

text {
	color: #000000;
}



img {
    display: block;
    margin: auto;
}

p {
	margin: 20px;
	padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  	display: inline-block;
}

li a {
    display: block;
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
}

/*li a:hover {
    background-color:#004275;
    border-radius: 25px;
    opacity: 0.5;
    opacity: 50%;
}*/
li a.active {
    background-color: #00ADE0;
    border-radius: 25px;
    opacity: 0.5;
}

li a:hover:not(.active) {
    background-color: #555;
    border-radius: 25px;
    color: white;
    opacity: 0.5;
}

.hidden{
    display: none;
}




